
/* @import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&family=VT323&display=swap');


html {
    scroll-behavior: smooth;
}


div {
    /* background-color: #d5b59c;text-align: center;*/
}

h3 {
    text-align: center;
}

body {
    /* font-size: medium; */
    font-family: "VT323", monospace;
    font-weight: 150;
    font-size: xx-large;
    font-style: normal;
    background-color: #000000;
    background-size: cover;
}

section {
    text-align: center;
    background-image: linear-gradient(to top, #2d4bf7, #038db8);
    text-align: center;
    width: 670px;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 10px 10px #2d4bf7;
    

}


section:hover {
    background-color: #ff0000;
}

ul {
    list-style: none;
    text-align: left;
}

/* ============================== CONTATO ESTILIZAÇÃO ============================= */
#contato ul li{
    display: inline;
    padding-inline: 35px;
}
.links{
    font-size:xx-large;
    color: #000000;
    text-decoration: none;
    inline-size: auto;
}
/*============================== ESTILIZAÇÃO DA BARRA DE MENU ======================*/

#ini {
    /* background-color: #ffffff; */
}
.menu{
    background-color: #000000;
}
.menu ul li a{
    /* background-color: #FFFFFF; */
        color:#ffffff;
    
    text-decoration:none;
}
.menu ul li {
    /* background-color: #000000; */
    display: inline;
    padding: 10px;
}
header{
    /* fixa o menu no topo */
    position: sticky;
    top:0;
    z-index: 5;
}
.sobre{
    color:#000000;
}
/* ============================ LOGO =========================================== */
#logo{
    width: 60px;
    height: 60px;
    margin-bottom: -17px;
}
/* ============================ RODAPÉ ========================================= */
footer{
    /* display: inline-block; */
    background-color: #34495e;  /*cor de fundo*/
    color: white;               /*cor da letra*/
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    border-top: 1px solid blue;
}
/* ============================ CONFIG CEL ===================================== */
.celular{
    color:white;
}
.celular{
    display: none;
}

/* adaptação para o celular - reponsividade*/
@media (max-width: 830px){
    .celular{
        display: block;
    }
    .menu ul{
        display: none; /*desaparece lista do menu */
    }

    section{
        font-size: 12px;
        max-width: 400px;
    }

    iframe{
        width: 250px;
    }
}
/* Ctrl ; */